@import"./SASS/base/fonts";
@import "./SASS/utils/variables";

body {

    margin: 0;
}

h1 {

    font-family: 'Roboto', sans-serif;
    font-style: bold;  
    font-size: 24px;
    text-align: center;
    margin: 0;
}

h2 {

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;  
    text-align: center; 
}

h3 {

    font-family: 'Roboto', sans-serif;
    font-style: bold;  
    font-size: 24px;
}

h4 {

    font-family: 'Roboto', sans-serif;
    font-style: normal;  
    font-size: 18px; 
    margin: 2%; 
    white-space: nowrap;
}

h5 {

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
}

p {

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
}


.logo {

    display: flex;
    justify-content: center;
    margin: 5%;
}

.headerlocation {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-grey;
    box-shadow: inset 0px 2px 5px $grey;
}

.icontextlocation {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    gap: 15px;
}

.entete {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15%;
    background-color: $light-grey;
}

.btnstyle {

    width:218px;
    height:50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;

    color: white;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: 0;
    margin: auto;
    filter: brightness(1);
    transition: filter 500ms, box-shadow 500ms ease-in-out;
}

.btnstyle:active {

    filter:brightness(1.25);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

nav {

    display: flex;
    flex-direction: column;
    padding: 5%;
}

.cardnav {

    display: flex;
    position: relative;
    margin-bottom: 8%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    height: 75px;
    background-color: #ffffff;

    transition: background-color 500ms ease-in-out;

}

.cardnav:active {

    cursor: pointer;
    background-color: $light-purple; 
}

.nav_title {

    font-family: 'Roboto', sans-serif;
    font-style: normal;  
    font-size: 16px; 
}

.iconnav {

    color: $grey;
    font-size: 20px;
    margin-left: 10%;
}

.numnav {

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -10px;
    width: 24px;
    height: 24px;
    color: white;
    background-color: $purple;
    border-radius: 25px;

}

.bloc_cards {

    display: flex;
    flex-direction: column;
    background-color: $light-grey;
}

.titre_rest {

    font-family: 'Roboto', sans-serif;
    font-style: bold;  
    font-size: 24px;
    background-color: $light-grey;
    padding: 20px;
    padding-top: 50px;
    margin: 0;
}

.imgcard {

    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0% 0%;
    display: block;
}

.cardrest {

    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
  
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.nouveau {

    position: absolute;
    background-color: $mint;
    color: $green;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 2%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    right: 4%;
    top: 6%;
    width: 20%;
    display: flex;
    justify-content: center;
}


.cardtext {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}

.cardname {

    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

footer {

    display: flex;
    background-color: $dark-grey;
    color: white;
    margin: 0;
    padding: 5%;
    justify-content: flex-start;
}

.footertitle {

    font-family: 'Shrikhand'; 
    font-size: 18px; 
}

.footerlist {

    padding: 0;
}

ul {

    list-style-type: none;
}

li {

    display: flex;
    gap: 2%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;  
    font-size: 16px; 
    margin: 2%;
    white-space: nowrap;

}

a {

    text-decoration: none;
    color: white;
}

.icone_heart {

    position: relative;
    font-size: 25px;
    border-style: none;
    background-color: white;
    align-items: center;
    display: flex;
}


.icone_heart_vide {

    color: $grey;   

}


.icone_heart_plein {

    color: $grey;
    position: absolute;
    transition: color 500ms ease-in-out;
    opacity: 0;
}


.icone_heart_plein:active {

    cursor: pointer;

    color: $purple;
    opacity: 1;
}

/* Style ajouté pour les menus */

.imgcard_pages {

    width: 100%;
    height: 275px;
    object-fit: cover;
    display: block;
}

.fleche_icone  {

    position: absolute;
    align-self: center;
    font-size: 20px;
    left: 2%;
}
.titre_menu {

    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 28px;        
}

.titre_menu_log {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    font-size: 25px;
    padding-top: 10%;
    gap: 8%;
}

.partie_menu {

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;     
    display: flex;
    justify-self: flex-start;
    margin-left: 15px;
}

.line_mint {

    border-top: solid;
    color: $mint;
    width: 45px;
    margin-left: 15px;
    margin-bottom: 5%;

}

.card_menu {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 95%;
    margin-bottom: 8%;
    padding-left: 10px;
    align-items: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    height: 75px;
    background-color: #ffffff;  
    white-space: nowrap;
    margin-left: 5px;
}

.card_menu_des {

    display: flex;
    flex-direction: column;
    width: 230px;
}

.prix_carre {

    display: flex;
    flex-direction: row;
}

.partie_colonne  {

    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: menu_apparition 500ms 0ms ease-out forwards
}

.partie_colonne2  {

    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: menu_apparition 1500ms 0ms ease-out forwards
}

.partie_colonne3  {

    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: menu_apparition 2500ms 0ms ease-out forwards
}

.prix {

    display: flex;
    align-self: flex-end;
    font-size: 15px;
    font-weight: 700;

    margin-bottom: 10px;
    margin-right: 30px;
}

.btnstyle2 {

    width:218px;
    height:50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10%;
    margin-left: 22%;

    color: white;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: 0;
    filter: brightness(1);
    transition: filter 500ms, box-shadow 500ms ease-in-out;
}

.btnstyle2:active {

    filter:brightness(1.25);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.main_deco {

    position: absolute;
    top: 45%;
    width: 100%;
    overflow: hidden;

}

.main_deco_2 {

    border-radius: 40px 40px 0px 0px;
    background-color: $very_light_grey;

}

@keyframes menu_apparition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.card_menu_anim {

    display: flex;
    flex-direction: row;
}


.carre_mint {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    width: 0px;
    height: 75px;
    background-color: $mint ;
    color: #ffffff;
    border-radius: 0px 15px 15px 0px;
    transition: width 500ms ease-in;
}

.fa-circle-check {

    visibility: hidden;
    transition: 500ms ease-in;
    transform: rotate(0deg);
}


.card_menu:hover {

    .carre_mint {

        width: 59px;
        cursor: pointer;

        .fa-circle-check {
            visibility: visible;
            transform: rotate(360deg);
        }
    }
}




@media screen and (min-width: 1440px) {

.logo {

    margin: 2%;
}

.headerlocation {

    height: 50px;
}

h1 {
  
    font-size: 40px;
    margin: 2%;
}

h2 {

    margin-bottom: 3%;
}

.entete {

    padding: 5%;
}

.main_background {

    background-color: $light-grey;
}

nav {

    padding: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.nav_menu {

    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

.cardnav {

    display: flex;
    position: relative;
    margin-bottom: 5%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    gap: 5%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    height: 75px;
    background-color: #ffffff;

    transition: background-color 500ms ease-in-out;

}

.titre_rest {

    margin-left:200px;
}

.bloc_cards {

    flex-direction: row;
    margin-left: 200px;
    overflow: scroll;
    padding-bottom: 5%;
}

.cardrest {

    min-width: 320px;

}

footer {

    padding: 0;
    padding-top: 20px;
    justify-content: flex-end;
}

.footercolonne {

    display: flex;
    flex-direction: row-reverse;
}

.footertitle {

    margin-right: 100px;
    margin-bottom: 40px;
}

.footerlist {

    display: flex;
    flex-direction: row;
    margin-right: 150px;
}

li {

    white-space: nowrap;
    gap: 10px;
}

ul {

    gap : 20px
}

/* Style ajouté pour les menus en responsive*/

.main_deco {

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_deco_2 {

    width: 1000px;
    margin: 0 auto;
}

.main_content {

    max-width: 800px;
    margin: auto;
}

.card_menu {

    margin-bottom: 1%;
}

.card_menu_des {

    width: 380px;
}

.titre_menu_log {

    justify-content: center;
    padding-top: 5%;

}

.partie_menu {

    margin-bottom: 1%;

}

.line_mint {

    margin-bottom: 1%;

}

.btnstyle2 {

    margin-bottom: 5%;
    margin-top: 4%;
    margin-left: 30%;

}

}