$mint: #99E2D0;
$green: #008766;
$ligth-blue: #89C8FA;
$blue: #003A68;
$purple: #9356DC;
$light-grey : #EAEAEA;
$grey : #7E7E7E;
$dark-grey : #353535;
$light-purple: #F5EDFF;
$gradient-style: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);